<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>FLASK ETL APIs</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-3"><strong>Flask ETL APIs</strong></h1>
            <p class="lead">The Flask app will provided you the APIs to do CRUD operations on the Elasticsearch instance.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/api/v1/about" role="button">API Docs</a>
            <a class="btn btn-primary btn-lg" href="http://localhost:5601/app/kibana#/home" role="button">Kibana</a>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!--<script src="./templates/css/jquery-3.4.1.slim.min.js"></script>-->
        <!--<script src="./templates/css/popper.min.js"></script>-->
        <!--<script src="./templates/css/bootstrap.min.js"></script>-->
    </body>
</html>